@model SellCar.Domain.ViewModels.Car.CarViewModel

<form>
    <div class="row">
        <div class="col-md-12">
            <img src="https://s3.eu-central-2.wasabisys.com/shikauto-autocatalog/2e022074f932965dd181b31301e91d57/1195/1662217656XFduPY.jpg"
                 class="img-fluid rounded-start rounded">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Brand" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Brand">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Model" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.Model"/>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.YearCreate" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.YearCreate" />
        </div>
    </div>
   
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TypeCar" class="col-form-label"></label>
            <select class="form-control" id="carTypeId2">
                <option value="@Model.TypeCar">@Model.TypeCar</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.HoursPower" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.HoursPower" />
        </div>
    </div>
</form>

<style>
    label {
        color: black;
    }
</style>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>
$('#carTypeId2').select2({
   placeholder: "Select Type",
   minimumInputLength: 0,
   allowClear: true,
   ajax: {
        type: "POST",
        url: "@Url.Action("GetTypes", "Car")",
        dataType: "json",
        processResults: function (result) {
            return {
                results: $.map(result, function (val, index) {
                    return {
                        id: index, 
                        text: val
                    };
                }),
            };
        }
    }
});
</script>