@model SellCar.Domain.ViewModels.Ad.AdsListViewModel

@await Html.PartialAsync("_header")

<main class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 ">
                <div class="bg-light border-right Car">
                    @await Component.InvokeAsync("Car")
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Ad picture</th>
                            <th>Price</th>
                            <th>Title</th>
                            <th>Car</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Km</th>
                            <th>Color</th>
                            <th>Date create</th>
                            <th>Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Ads.Count; i++)
                        {
                            <tr>
                                @if (Model.Ads[i].PostingPictures.Count > 0)
                                {
                                    <td><a href="/car/details/@Model.Ads[i].AdsId"><img src="~/img/@(Model.Ads[i].PostingPictures[0].Url)" width=90 height="67"></a> </td>
                                }
                                else
                                {
                                    <td><a href="/car/details/@Model.Ads[i].AdsId"><img src="~/img/NoImg.jpg" width=90 height="67"></a> </td>
                                }

                                <td>@Model.Ads[i].Price $</td>
                                <td>@Model.Ads[i].Title</td>
                                <td>@Model.Ads[i].Car.Name</td>
                                <td>@Model.Ads[i].Brand</td>
                                <td>@Model.Ads[i].Model</td>
                                <td>@Model.Ads[i].Year</td>
                                <td>@Model.Ads[i].Mileage</td>
                                <td>@Model.Ads[i].Color</td>
                                <td>@Model.Ads[i].DateCreate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="container-fluid">
    @await Html.PartialAsync("_footer")
</div>
