@model SellCar.Domain.ViewModels.Ad.AdsDetailViewModel;


<div class="container my-3">
    <h5 class="mt-1 d-inline ">@Model.Ads.Title</h5>
    <h6 class="mt-1 d-inline float-right"><strong>@Model.Ads.Price.ToString("")</strong>$</h6>
    <hr class="my-3">
    <div class="row">
        <div class="col-md-7 ">
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Model.Ads.PostingPictures.Count; i++)
                    {
                        @if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img class="img-fluid" src="~/img/@(Model.Ads.PostingPictures[i].Url)"
                             alt="@i slide">
                            </div>
                            continue;
                        }
                        <div class="carousel-item">
                            <img class="img-fluid" src="~/img/@(Model.Ads.PostingPictures[i].Url)"
                             alt="@i slide">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators  ">
                    @for (int i = 0; i < Model.Ads.PostingPictures.Count; i++)
                    {
                        @if (i == 0)
                        {
                            <li data-target="#carousel-thumb" data-slide-to="@i" class="active">
                                <img src="~/img/@(Model.Ads.PostingPictures[i].Url)" class="img-fluid">
                            </li>
                            continue;
                        }
                        <li data-target="#carousel-thumb" data-slide-to="@i">
                            <img src="~/img/@(Model.Ads.PostingPictures[i].Url)" class="img-fluid">
                        </li>
                    }
                </ol>
            </div>
            <nav>
                <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-iletisim-tab" data-toggle="tab" href="#nav-iletisim"
                       role="tab" aria-controls="nav-iletisim" aria-selected="true">Contact information</a>
                    <a class="nav-link" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab"
                       aria-controls="nav-detail" aria-selected="false">Ad Details</a>
                    <a class="nav-link" id="nav-teknikozellikler-tab" data-toggle="tab" href="#nav-teknikozellikler"
                       role="tab" aria-controls="nav-teknikozellikler" aria-selected="false">Technicial Specifications</a>
                </div>
            </nav>
            <div class="tab-content overflow-auto" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-iletisim" role="tabpanel"
                     aria-labelledby="nav-iletisim-tab">
                    <div class="card mt-2">
                        <div class="card-header">
                            @if (Model.User.EmailConfirmed)
                            {
                                @Model.User.FirstName @Model.User.LastName

                                <i class="fas fa-check-square ml-2" style="color: #4caf50;" data-toggle="tooltip" data-placement="right" title="Verified Member"></i>
                            }
                            else
                            {
                                @Model.User.FirstName @Model.User.LastName
                            }
                        </div>
                        <div class="card-body">
                            <p class="card-text ">
                                <a href="/Car/UserAds/@Model.User.Id" class="text-decoration-none">
                                    vehicle owner
                                    other postings
                                </a>
                            </p>
                            <p class="card-text">
                                <h6>Pocket: <span class="text-muted">@Model.User.PhoneNumber</span></h6>
                                <h6>
                                    Address: <span class="text-muted">
                                        @Model.User.Address
                                    </span>
                                </h6>
                            </p>
                            <a href="#" class="btn btn-secondary ">Search Owner</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                    <p class="mt-2">
                        @Html.Raw(Model.Ads.Detail)
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-teknikozellikler" role="tabpanel" aria-labelledby="nav-teknikozellikler-tab">
                    <table class="table table-striped mt-2">
                        <tbody>
                            <tr>
                                <td><strong>OVERVIEW<i class="fas fa-car-alt ml-2"></i></strong> </td>

                            </tr>

                            <tr>
                                <td>
                                    <strong>Case Type / Number of Doors</strong>
                                </td>
                                <td>
                                    @Model.Ads.BodyType / @Model.Ads.NumberOfDoors
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Engine Type</strong>
                                </td>
                                <td>
                                    @Model.Ads.EngineСapacity / 4 cylinders
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Year of production</strong>
                                </td>
                                <td>
                                    @Model.Ads.Year / Production continues
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fuel Consumption (Urban / Out of town)</strong>
                                </td>
                                <td>
                                    @Model.Ads.ConsumptionСity liter/ @Model.Ads.OutofCityConsumption liter
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Motor power</strong>
                                </td>
                                <td>
                                    @Model.Ads.MotorPower hp
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>gearbox</strong>
                                </td>
                                <td>
                                    @Model.Ads.GearType / @Model.Ads.NumberOfGear gear / @Model.Ads.TractionType
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Acceleration 0-100 km/h</strong>
                                </td>
                                <td>
                                    @Model.Ads.Acceleration sec
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Speed ​​limit</strong>
                                </td>
                                <td>
                                    @Model.Ads.MaxSpeed km/h
                                </td>
                            </tr>
                            <tr>
                                <td><strong>ENGINE AND PERFORMANCE<i class="fas fa-tachometer-alt ml-2"></i></strong> </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> Engine capacity </strong>
                                </td>
                                <td>
                                    @Model.Ads.EngineСapacity cc
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> Maximum Power</strong>
                                </td>
                                <td>
                                    @Model.Ads.MotorPower hp  / 6.000 rpm
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> Maximum Torque</strong>
                                </td>
                                <td>
                                    250 Nm / 2.000 rpm
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Acceleration 0-100 km/h</strong>
                                </td>
                                <td>
                                    @Model.Ads.Acceleration sec
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Speed ​​limit </strong>
                                </td>
                                <td>
                                    @Model.Ads.MaxSpeed km/h
                                </td>
                            </tr>
                            <tr>
                                <td><strong>FUEL CONSUMPTION<i class="fas fa-gas-pump ml-2"></i></strong> </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fuel Type</strong>
                                </td>
                                <td>
                                    @Model.Ads.FuelType
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>In the city (at 100 km) </strong>
                                </td>
                                <td>
                                    @Model.Ads.ConsumptionСity liter
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Out of town (at 100 km) </strong>
                                </td>
                                <td>
                                    @Model.Ads.OutofCityConsumption liter
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Average (per 100 km) </strong>
                                </td>
                                <td>
                                    @Model.Ads.AverageConsumption liter
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fuel Tank Volume </strong>
                                </td>
                                <td>
                                    @Model.Ads.FuelTankVolume liter
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">

            <div class="row">
                <div class="col-md-6 col-4 ">
                    <h6>Province</h6><span class="text-muted">@Model.Ads.Region.Name</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Advert no</h6><span class="text-muted">@Model.Ads.AdsId</span>
                    <hr>
                </div>
                <div class="col-md-6  col-4">
                    <h6>Listing Date</h6><span class="text-muted">@Model.Ads.DateCreate</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Brand</h6><span class="text-muted"><a href="/cars/@Model.Ads.Car.Url">@Model.Ads.Car.Name</a></span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Series</h6><span class="text-muted"> @Model.Ads.Brand </span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Model</h6><span class="text-muted"> @Model.Ads.Model </span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Year</h6><span class="text-muted">@Model.Ads.Year</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Fuel</h6><span class="text-muted">@Model.Ads.FuelType</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Gear</h6><span class="text-muted">@Model.Ads.GearType</span>
                    <hr>
                </div>
                <div class="col-md-6  col-4">
                    <h6>KM</h6><span class="text-muted">@Model.Ads.Mileage</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Case Type</h6><span class="text-muted">@Model.Ads.BodyType</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>horse</h6><span class="text-muted">@Model.Ads.MotorPower</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Traction</h6><span class="text-muted">@Model.Ads.TractionType</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Color</h6><span class="text-muted">@Model.Ads.Color</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>From who</h6><span class="text-muted">@Model.Ads.FromWho</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Swap</h6><span class="text-muted">@Model.Ads.Swap</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4">
                    <h6>Status</h6><span class="text-muted"> @Model.Ads.Status</span>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <h6>Price</h6><strong>@Model.Ads.Price $</strong>
                    <hr>
                </div>
                <div class="col-md-6 col-4 ">
                    <a asp-controller="compare" asp-action="add" asp-route-id="@Model.Ads.AdsId">

                        <i class="fas fa-plus-circle mr-2"></i>with another car
                        compare
                    </a>
                </div>
                <div class="col-md-6 col-4 ">
                    @if (User.Identity.IsAuthenticated && Model.AddFavorites == false)
                    {
                        <a asp-controller="User" asp-action="CreateFavAds" asp-route-id="@Model.Ads.AdsId">
                            <i class="fas fa-star mr-2"></i>Add to My Favorite Ads
                        </a>
                    }
                    @if (Model.AddFavorites == true)
                    {
                        <h6 class="text-secondary"><i class="fas fa-exclamation-triangle mr-2"></i>This ad is in your favorite Ads</h6>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @await Html.PartialAsync("_footer")
</div>