@model SellCar.Domain.Models.Ads
<div class="card rounded mb-2" >
    <div class="card-image">
        <span class="card-notify-year">@Model.year</span>
        <a href="/car/details/@Model.AdsId">
            <img class="img-fluid" src="~/img/@(Model.PostingPictures[0].Url)">
        </a>
    </div>
    <div class="card-body">
        <h6 style="text-align: left;">@Model.Car.Name @Model.Brand @Model.Model</h6>
        @if (Model.title == null)
        {
            <p class="text-muted">There are no advertisement details about the vehicle.</p>
        }
        else
        {
            <p class="text-muted">@Html.Raw(Model.Detail.Substring(0, 15) + "...")</p>
        }
        <div class="text-right">
            <strong>@Model.Price.ToString("c")</strong>
        </div>
    </div>
</div>