@model SellCar.Domain.ViewModels.Ad.AdsListViewModel
@{
    ViewData["Title"] = "ads";
}
<div class="container">
    <h3 class="mt-1">My Ads</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group list-group-flush sticky-top shadow mb-3">
                <a href="/user/profile" class="list-group-item list-group-item-action "><i class="fas fa-angle-double-right mx-1"></i>My Profile</a>
                <a href="/user/stats" onclick="myFunction()" class="list-group-item list-group-item-action "><i class="fas fa-angle-double-right mx-1"></i>Stats</a>
                <a href="/user/ads" class="list-group-item list-group-item-action active"><i class="fas fa-angle-double-right mx-1 "></i>My Published Ads</a>
                <a href="/user/FavAds" class="list-group-item list-group-item-action "><i class="fas fa-angle-double-right mx-1"></i>My Favorite Ads</a>
            </div>
        </div>
        <div class="col-md-9">
            @if (Model.Ads.Count == 0)
            {
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <i class="fas fa-exclamation-triangle mr-2"></i>You do not have any ads posted.
                    </div>
                </div>
            }
            <div class="row" id="myItems">
                @if (TempData["message"] != null)
                {
                    <div class="alert box @TempData["alert-type"] w-100" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class="fas fa-check mr-2"></i></strong>@TempData["message"]
                    </div>
                }
                @foreach (var item in Model.Ads)
                {
                    if (item.PostingPictures.Count > 0)
                    {
                        <div class="card mb-3 w-100">
                            <div class="card-body">
                                <div class="row no-gutters h-100">
                                    <div class="col-md-4">
                                        <a href="/car/details/@item.AdsId"><img src="~/img/@item.PostingPictures[0].Url" class="card-img" alt="..."></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5>@item.Title</h5>
                                            <p>@item.Car.Name @item.Brand @item.Model</p>
                                            <h6 class=" text-right">@item.Price $</h6>
                                            <p class="text-right">
                                                <a asp-controller="User" asp-action="AdsEdit" asp-route-id="@item.AdsId" class="btn btn-success btn-sm"><i class="fas fa-car-alt"></i></a>
                                                @*<a href="/User/Ads/@item.AdsId" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>*@
                                                <a asp-controller="User" asp-action="AdsDelete" asp-route-id="@item.AdsId" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {

                        <div class="card mb-3 w-100">
                            <div class="card-body">
                                <div class="row no-gutters h-100">
                                    <div class="col-md-4">
                                        <a href="/car/details/@item.AdsId"><img src="~/img/NoImg.jpg" class="card-img" alt="..."></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5>@item.Title</h5>
                                            <p>@item.Car.Name @item.Brand @item.Model</p>
                                            <h6 class=" text-right">@item.Price $</h6>
                                            <p class="text-right">
                                                <a asp-controller="User" asp-action="AdsEdit" asp-route-id="@item.AdsId" class="btn btn-success btn-sm"><i class="fas fa-car-alt"></i></a>
                                                @*<a href="/User/Ads/@item.AdsId" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>*@
                                                <a asp-controller="User" asp-action="AdsDelete" asp-route-id="@item.AdsId" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        window.setTimeout(function () {
            $(".box").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>
}