@using SellCar.Domain.Models;
@model List<User>
    

@{
}

@foreach(var User in Model)
{
    <p>@User.Name</p>
    <p>@User.Email</p>
    <p>@User.PhoneNumber</p>
    <p>@User.DateRegistration</p>
    <p>@User.Password</p>
}