@{
    Layout = "_LayoutAdmin";
}
<div class="container-fluid">
    <h3 class="mt-2">Statistics</h3>
    <hr />
    <div class="row ">
        <div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card h-100">
                <div class="card-body bg-success text-white">
                    <div class="row h-100">
                        <div class="col-md-3">
                            <i class="fas fa-users fa-4x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <h2>@ViewBag.userCount</h2>
                            <h5>  Count Users</h5>
                        </div>
                    </div>
                </div>
                <a href="/admin/user/list">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">View details</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card h-100">
                <div class="card-body bg-success text-white">
                    <div class="row h-100">
                        <div class="col-md-3">
                            <i class="fas fa-check-square fa-4x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <h2>@ViewBag.confirmedUserCount</h2>
                            <h5>  Number of approved users</h5>
                        </div>
                    </div>
                </div>
                <a href="/admin/user/list">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">View details</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card h-100">
                <div class="card-body bg-success text-white">
                    <div class="row h-100">
                        <div class="col-md-3">
                            <i class="far fa-newspaper fa-4x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <h2>@ViewBag.AdsCount</h2>
                            <h5>  Number of Ads</h5>
                        </div>
                    </div>
                </div>
                <a href="/admin/ads/list">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">View details</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6" style="margin-top: 20px">
            <div class="card h-100 ">
                <div class="card-body bg-success text-white">
                    <div class="row h-100">
                        <div class="col-md-3">
                            <i class="fas fa-arrow-up fa-4x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <h2>@(ViewBag.MostAdvertisedRegion.Name)</h2>
                            <h5>  The City with the Highest Number of Ads</h5>
                        </div>
                    </div>
                </div>
                <a href="/admin/region/list">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">View details</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6" style="margin-top: 20px">
            <div class="card h-100">
                <div class="card-body bg-success text-white">
                    <div class="row h-100">
                        <div class="col-md-3">
                            <i class="fas fa-arrow-down fa-4x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <h2>@(ViewBag.LeastAnnouncedRegion.Name)</h2>
                            <h5> The City with the Least Number of Ads</h5>
                        </div>
                    </div>
                </div>
                <a href="/admin/region/list">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">View details</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>